@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root {
    --body-color: #9B27B00D;
    --siderbar-color: #FFFFFF;
    --primary-color: #6261cc;
    --primary-color-light: #9B27B00D;
    --tooggle-color: #DDDDDD;
    --secondary-color: #fff;
    --text-color: #012970;
    --tran-03: all 0.2s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.4s ease;

    --bg-color: #ffffff;
    --card-bg: #ffffff;
    --grid-color: rgba(0, 0, 0, 0.1);
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);

    
}

::selection {
    background-color: var(--primary-color);
    color: #ffffff;
}

body.dark { 
    --body-color: #1e222c;
    --siderbar-color: #212631;
    /*--primary-color: #2a303d;*/
    --primary-color: #6261cc;
    --primary-color-light: #2a303d;
    --tooggle-color: #FFFFFF;
    --text-color: #CCCCCC;

    --bg-color: #121212;
    /*--card-bg: #1e1e1e;*/
    --card-bg:#1e222c;
    --grid-color: rgba(255, 255, 255, 0.1);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 270px;
    padding: 10px 14px;
    background: var(--siderbar-color);
    transition: var(--tran-05);
    z-index: 100;
    border : 1px solid rgba(155, 135, 135, 0.1);
}

.sidebar.close {
    width: 88px;
}

.sidebar li {
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
}
.sidebar .icon {
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon {
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text {
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}

.sidebar.close .text {
    opacity: 0;
}

.sidebar header {
    position: relative;
}

.sidebar header .logo {
    display: flex;
    flex-direction: column; 
}

.name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

.profe {    
    font-size: 14px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image {
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle {
    position: absolute;
    top: 20%;
    right: 0px;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    color: var(--siderbar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle {
    color: var(--text-color);
}

.sidebar.close .toggle {
    width: 100%;
    top: 20%;
}

.sidebar .menu {
    margin-top: 10px;
}

.sidebar li.search-box {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    transition: var(--tran-05);
}

.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03); 
}
    
.sidebar li a:hover {
    background-color: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text {
    color: var(--siderbar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text {
    color: var(--text-color);
}

.sidebar .menu-bar {
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}

.menu-bar::-webkit-scrollbar {  
    display: none;
}   

.sidebar .menu-bar .mode {
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon {
    height: 50px;
    width: 60px;
}

.mode .sun-moon i {
    position: absolute;
}

.mode .sun-moon i.sun {
    opacity: 0;
}

body.dark .mode .sun-moon i.sun {
    opacity: 1;
}    

body.dark .mode .sun-moon i.moon {
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch {
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--tooggle-color);
    transition: var(--tran-05);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--siderbar-color);
    transition: var(--tran-04);
}

.body.dark .switch::before {
    left: 20px;
}

.home {
    position: absolute;
    top: 0;
    left: 270px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}   

.sidebar.close ~ .home {
    left: 78px;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text {
    color: var(--text-color);
}

.topbar {
    position: fixed;
    top: 0;
    left: 270px;
    width: calc(100% - 270px);
    height: 60px;
    background-color: var(--siderbar-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--tran-05);
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
    border : 1px solid rgba(155, 135, 135, 0.1);
}

.topbar-left {
    margin-left: 20px;
}

.topbar-right {
    margin-right: 20px;
}

.topbar-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.topbar-link {
    margin-right: 20px;
    position: relative;
}

.topbar-link i {
    font-size: 20px;
    cursor: pointer;
    color: var(--text-color);
}

.notification-dropdown, .chat-dropdown, .profile-dropdown {
    position: absolute;
    top: 60px;
    background-color: var(--siderbar-color);
    padding: 10px;
    border-radius: 6px;
    display: none;
    z-index: 1000;
}

.notification-dropdown {
    left: -20px;
}

.chat-dropdown {
    left: -20px;
}

.notification-header, .chat-header {
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
}

.notification-item, .chat-item {
    padding: 5px;
    border-bottom: 1px solid var(--text-color);
}

.notification-item:last-child, .chat-item:last-child {
    border-bottom: none;
}

.profile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 15px;
    font-weight: bold;
    color: var(--text-color);
}

.profile-profession {
    font-size: 13px;
    color: var(--text-color);
}

.profile-dropdown {
    position: absolute;
    top: 60px;
    right: -100px;
    background-color: var(--siderbar-color);
    padding: 10px;
    border-radius: 6px;
    display: none;
    z-index: 1000;
}

.profile-list {
    list-style: none;
}

.profile-item {
    padding: 5px;
    border-bottom: 1px solid var(--text-color);
}

.profile-item:last-child {
    border-bottom: none;
}

body.dark .topbar {
    background-color: var(--siderbar-color);
}

body.dark .notification-dropdown, 
body.dark .chat-dropdown, 
body.dark .profile-dropdown {
    background-color: var(--siderbar-color);
    color: var(--text-color);
}

body.dark .notification-item, 
body.dark .chat-item, 
body.dark .profile-item {
    border-bottom: 1px solid var(--text-color);
}

body.dark .notification-header, 
body.dark .chat-header, 
body.dark .profile-name, 
body.dark .profile-profession {
    color: var(--text-color);
}

body.dark .topbar-link i {
    color: var(--text-color);
}

.sidebar.close ~ .topbar {
    left: 88px;
    width: calc(100% - 88px);
}

.sidebar.close ~ .topbar ~ .home {
    left: 88px;
    top: 60px;
    width: calc(100% - 88px);
}

.home {
    position: absolute;
    top: 60px;
    left: 270px;
    height: calc(100vh - 60px);
    width: calc(100% - 270px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .home {
    left: 88px;
    top: 60px;
    width: calc(100% - 88px);
}

.profile-picture-sidebar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 10px auto;
}

.profile-picture-sidebar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info-sidebar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-name-sidebar {
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

.profile-profession-sidebar {
    font-size: 13px;
    color: var(--text-color);
}

.sidebar li.profile-sidebar {
    height: auto;
    display: block;
}

.sidebar.close li.profile-sidebar {
    display: none;
}

body.dark .profile-name-sidebar, 
body.dark .profile-profession-sidebar {
    color: var(--text-color);
}

.divider-logo-menu, .divider-menu-notifications {
    border: 0;
    height: 1px;
    background: var(--text-color);
    margin: 10px 0;
}

body.dark .divider-logo-menu, 
body.dark .divider-menu-notifications {
    background: var(--text-color);
}



/*	INICIO BOTONES WIDGET DEL HOME	*/
.widget-container {
    display: flex;
  }
  
  .printer-widget {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #6261cc;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
  }
  
  .printer-widget i {
    font-size: 24px;
  }
  
  .printer-widget span {
    margin-top: 10px;
  }
  
  .printer-widget:hover {
    background-color: #50169c;
  }
  
  .printer-widget:active {
    transform: translateY(2px);
  }
  
  /*	FIN BOTONES WIDGET DEL HOME	*/

  .dashboard {
    padding: 5px;
    max-width: 1200px;
    margin: 0 auto;
}
  .card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    flex: 1 1 calc(25% - 20px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card i {
    font-size: 36px;
    margin-bottom: 15px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 50%;
}

.card h2 {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px;
}

.card .number {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 10px 0;
}

.card .percentage {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}

/* Colores de fondo específicos para cada tarjeta */
.card-1 {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
}

.card-2 {
    background: linear-gradient(135deg, #ff6f61, #ff9a44);
}

.card-3 {
    background: linear-gradient(135deg, #2ecc71, #1abc9c);
}

.card-4 {
    background: linear-gradient(135deg, #e74c3c, #e67e22);
}

/* Responsividad */
@media (max-width: 1200px) {
    .card {
        flex: 1 1 calc(33.33% - 20px); /* 3 tarjetas por fila */
    }
}

@media (max-width: 900px) {
    .card {
        flex: 1 1 calc(50% - 20px); /* 2 tarjetas por fila */
    }
}

@media (max-width: 600px) {
    .card {
        flex: 1 1 100%; /* 1 tarjeta por fila */
    }
}

/* Grafico */

.container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

.chart-container {
    background-color: var(--card-bg);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}